nav {
	border:  2px;
	background-color: lightgreen;
	padding: 12px;
	text-decoration: none;
}
a:hover {
	background-color: lightblue;
}
a {
	color: blueviolet;
	font-size: 	19px;
	padding: 15px 15px;
	text-decoration: none;
}
p{
	color: darkviolet;
}
img {
	border: 4px solid black;
	border-collapse: collapse;
}